.password-manager-app {
  background-color: #9ba9eb;
  padding: 40px;
  background-size: cover;
}
.content-container {
  padding-left: 100px;
  padding-right: 100px;
}
.app-logo-container {
}
.app-logo {
  width: 150px;
}
.top-section {
  background-color: #5763a5;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}
.add-password-form-container {
  padding: 10px;
  background-color: #454f84;
  padding: 40px;
  border-radius: 10px;
}
.add-new-password-text {
  color: #f8fafc;
  font-family: 'Roboto';
}
.form-container {
}
.form-element-input-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 20px;
}
.form-icon-container {
}
.form-element-icon {
  width: 60px;
  padding: 20px;
}
.enter-form-input-container {
  margin-left: 0px;
}
.enter-element-text-input-box {
  height: 40px;
  font-size: 17px;
  border: 0px solid;
  outline: none;
  font-family: 'Roboto';
  padding-left: 10px;
  border-left: 2px solid #94a3b8;
}
.add-button-container {
  text-align: right;
}
.add-button {
  background-color: #0b69ff;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px solid;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.password-manager-image {
  width: 400px;
}
.bottom-section {
  background-color: #5763a5;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
}
.password-count-and-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.your-passwords-text {
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: bold;
  font-size: 20px;
}
.pasword-count {
  border: 1px solid #b6c3ca;
  border-radius: 10px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
.password-search-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  width: 250px;
}
.search-icon-container {
}
.search-element-icon {
  width: 40px;
  padding: 10px;
}
.password-search-input-container {
  margin-left: 0px;
  width: 200px;
}
.password-search-text-input-box {
  height: 30px;
  font-size: 16px;
  border: 0px solid;
  outline: none;
  font-family: 'Roboto';
  padding-left: 10px;
  border-left: 2px solid #94a3b8;
  width: 200px;
}
.checkbox-container {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.checkbox-box {
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.label-element {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding-left: 5px;
}
.ul {
  list-style-type: none;
}
.passwords-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.no-passwords-to-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-passwords-image {
  width: 400px;
}
