.each-password-container {
  list-style-type: none;
  border: 1px solid #94a3b8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.profile-logo-container {
  background-color: orange;
  width: 30px;
  height: 30px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.logo-letter {
}
.password-details-container {
  font-family: 'Roboto';
  color: #ffffff;
  margin-right: px;
}
.website-name {
}
.user-name {
  margin-top: -10px;
}
.password-saved-container {
  margin-top: -8px;
}
.password-saved {
  margin-bottom: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: 0px solid;
}
.delete-button {
  background-color: transparent;
  outline: none;
  border: 0px solid;
  cursor: pointer;
}
.delete-icon {
  width: 23px;
}
